/*header*/
/*header-section*/
.header-section{
	height:120px;
	width:1260px;
	background-color:#d3d3d3;
}
#head-logo{
	height:100px;
	width:100px;
	background-image:url("../image_folder/infonixlogo.png");
	background-size:cover;
	position:relative;
	top:5px;
	
}
.header-text{
	position:relative;
	bottom:105px;
}
#header-h1{
	font-size:22px;
	color:#820000;
	font-family:arial;
	font-weight:bold;
	position:relative;
	left:200px;
}
#header-h2{
	font-size:20px;
	color:#820000;
	font-family:arial;
	position:relative;
	left:220px;
	bottom:20px;
}
.header-iconcover{
	display:flex;
	gap:10px;
	position:relative;
	left:1050px;
	bottom:210px;

}
#fb-cover{
	height:45px;
	width:45px;
	border-radius:50%;
	background-color:#820000;
}
#in-cover{
	height:45px;
	width:45px;
	border-radius:50%;
	background-color:#820000;
}
#insta-cover{
	height:45px;
	width:45px;
	border-radius:50%;
	background-color:#820000;
}
.fa-icons{
	position:relative;
	left:1065px;
	bottom:260px;
}
#coding-text{
	font-family:arial;
	font-weight:normal;
	color:#820000;
	position:relative;
	left:290px;
	bottom:245px;
}
/*nav-section*/
.navbar{
	height:80px;
	width:1220px;
	background-color:#820000;
	list-style:none;
	display:flex;
	font-family:arial;
	font-size:18px;
	position:relative;
	bottom:18px;
}
.navbar li{
	color:white;
	cursor:pointer;
	position:relative;
	left:40px;
	top:10px;
	padding:15px;
}
.navbar li:hover{
}
.navbar li ul{
	position:absolute;
	top:100%;
	right:20px;
	list-style:none;
	
}
.navbar li ul li {
	color:#000;
	font-size:18px;
}
#Courses{
	color:white;
	cursor:pointer;
	position:relative;
	left:40px;
	top:10px;
	padding:15px;
}
.Course-dropdown{
	height:280px;
	width:180px;
	border-radius:4px;
	background-color:#fff;
	color:#000;
	position:absolute;
	top:72px;
	left:5px;
	display:none;
	
}
#Courses:hover .Course-dropdown {
	cursor:pointer;
	display:inline-block;
}
#services{
	color:white;
	cursor:pointer;
	position:relative;
	left:40px;
	top:10px;
	padding:15px;
}
.services-dropdown{
	height:80px;
	width:180px;
	background-color:#fff;
	color:#000;
	position:absolute;
	top:72px;
	left:5px;
	display:none;
	border-radius:4px;
}
#services:hover .services-dropdown {
	cursor:pointer;
	display:inline-block;
}
/*banner-section*/
.banner{
	height:600px;
	width:1260px;
	background-image:url("../image_folder/infonixbanner.webp");
	background-size:cover;
	position:relative;
	bottom:36px;
}
#select-services{
	height:40px;
	width:300px;
	background-color:#820000;
	color:#fff;
	text-align:center;
	line-height:40px;
}
.form-back{
	height:440px;
	width:300px;
	background-color:#fff;
	border-radius:3px;
	position:relative;
	left:950px;
	top:150px;
}
.form{
	position:relative;
	left:20px;
}
#name,#last,#email,#mobile,#address,#intrest{
	height:35px;
	width:260px;
	border-radius:5px;
	border:1px solid #000;
	line-height:30px;
	color:#696969;
	font-size:15px;
}

#submit{
	height:30px;
	width:220px;
	background-color:#830000;
	color:#fff;
	border-radius:5px;
	position:relative;
	left:20px;
	text-align:center;
	line-height:30px;
}

#submit:hover{
	box-shadow:0 5px 8px 0 #D3D3D3;
}
/*course-domains-section*/
#learning{
	color:#820000;
	position:relative;
	left:520px;
	font-family:arial;
}
#category{
	position:relative;
	left:470px;
	bottom:15px;
	font-family:arial;
}
.course-category-image{
	display:flex;
	gap:60px;
}
#mobile-image{
	height:150px;
	width:150px;
	border-radius:50%;
	background-image:url("../image_folder/mobile.webp");
	background-size:cover;
	position:relative;
	left:30px;
}
#software-image{
	height:150px;
	width:150px;
	border-radius:50%;
	background-image:url("../image_folder/software.webp");
	background-size:cover;
	position:relative;
	left:30px;
}
#programming-image{
	height:150px;
	width:150px;
	border-radius:50%;
	background-image:url("../image_folder/programming.webp");
	background-size:cover;
	position:relative;
	left:30px;
}
#design-image{
	height:150px;
	width:150px;
	border-radius:50%;
	background-image:url("../image_folder/designing.webp");
	background-size:cover;
	position:relative;
	left:30px;
}
#graphic-image{
	height:150px;
	width:150px;
	border-radius:50%;
	background-image:url("../image_folder/graphic.webp");
	background-size:cover;
	position:relative;
	left:30px;
}
#other-image{
	height:150px;
	width:150px;
	border-radius:50%;
	background-image:url("../image_folder/other.webp");
	background-size:cover;
	position:relative;
	left:30px;
}
/*course-category-list*/
.course-category-list{
	display:flex;
	gap:80px;
	font-weight:bold;
	position:relative;
	left:40px;
	bottom:20px;
	font-family:arial;
}
#development-text{
	position:relative;
	left:5px;

}
#graphic-text{
	position:relative;
	left:20px;
}
#course-btn{
	height:35px;
	width:120px;
	color:#fff;
	background-color:#820000;
	text-align:center;
	line-height:35px;
	border-radius:4px;
	position:relative;
	left:580px;
	left:570px;
	box-shadow:0 3px 8px 0 #696969;
}
/*service-container*/
.service-container{
	height:280px;
	width:1260px;
	background-color:#eeeeee;
}
#learn{
	color:#820000;
	position:relative;
	left:520px;
	top:100px;
	font-family:arial;
}
#our-services{
	position:relative;
	left:555px;
	top:80px;
	font-family:arial;
}
/*raiting-section*/
.rating-section{
	height:260px;
	width:1260px;
	background-color:#820000;
	position:relative;
	bottom:15px;
}
.rating-text{
	position:relative;
	left:180px;
	top:50px;
	display:flex;
	gap:150px;
	color:#fff;
	font-size:45px;
	font-family:arial;
}
.rating-content{
	display:flex;
	gap:160px;
	font-family:arial;
	font-size:15px;
	color:#fff;
	position:relative;
	left:170px;
}
#happy-rating-text{
	position:relative;
	right:35px;
}
/*infonix-technology-section*/
.infonix-section{
	height:600px;
	width:1260px;
	background-color:#fff;
}
.infonix-image{
	height:420px;
	width:500px;
	background-image:url("../image_folder/image2.webp");
	background-size:cover;
	position:relative;
	left:70px;
	top:80px;
}
#skill-text{
	position:relative;
	left:600px;
	bottom:350px;
	color:#820000;
}
#infonix-tag-line{
	position:relative;
	left:600px;
	bottom:370px;
	font-family:sans;
}
/*service-box*/
.service-box{
	height:80px;
	width:500px;
	background-color:#EEEEEE;
	position:relative;
	left:600px;
	bottom:380px;
}
#double-apostrophe{
	height:80px;
	width:80px;
	background-image:url("../image_folder/comma.png");
	background-size:cover;
	position:relative;
	right:20px;
	bottom:20px;
}
#priority-text{
	font-family:arial;
	font-size:17px;
	position:relative;
	bottom:60px;
}
#infonix-content{
	font-size:18px;
	color:#696969;
	position:relative;
	bottom:40px;
}
#get-touch-btn{
	height:30px;
	width:140px;
	border-radius:5px;
	background-color:#820000;
	box-shadow:0 2px 6px 0 #D3D3D3;
	color:#fff;
	text-align:center;
	line-height:30px;
	position:relative;
	bottom:40px;
}
/*testimonal-section*/
.testimonal-container{
	height:260px;
	width:1260px;
	background-color:#eeeeee;
}
#testimonal-text{
	color:#820000;
	position:relative;
	left:580px;
	top:100px;
	font-family:arial;
}
#client-say-text{
	position:relative;
	left:520px;
	top:80px;
	font-family:arial;
}
/*company-section*/
.company-section{
	height:260px;
	width:1260px;
	background-color:#820000;
	position:relative;
	bottom:38px;
}
#company-text{
	font-size:35px;
	font-family:arial;
	color:#fff;
	position:relative;
	top:50px;
}
#company-subtext{
	font-size:20px;
	font-family:arial;
	color:#fff;
	position:relative;
	left:350px;
	top:30px;
}
#explore-btn{
	height:30px;
	width:100px;
	background-color:#fff;
	color:#820000;
	border-radius:5px;
	text-align:center;
	line-height:30px;
	position:relative;
	left:600px;
	top:30px;
}
/*welcome-infonix-section*/
.welcome-infonix{
	position:relative;
	left:50px;
	top:180px;
}
#welcome-text{
	font-family:arial;
	font-size:30px;
	color:#820000;
}
#leading-text{
	font-family:arial;
	font-size:30px;
	color:#000;
}
#welcome-content{
	font-family:arial;
	font-size:18px;
	color:#696969;
}
.solution-area{
	position:relative;
	left:65px;
}
/*internship*/
#internship-box{
	height:250px;
	width:250px;
	border:1px solid #D3D3D3;
	border-radius:5px;
	position:relative;
	left:620px;
	bottom:400px;
}
#internship-box:hover{
	box-shadow:0 2px 8px 0 #D3D3D3;
}
#intern-circle{
	height:50px;
	width:50px;
	border-radius:50%;
	background-color:#0076B6;
	position:relative;
	left:20px;
}
#internship-icon{
	height:40px;
	width:40px;
	border-radius:50%;
	background-image:url("../image_folder/chat.webp");
	background-size:cover;
	position:relative;
	left:25px;
	bottom:60px;
}
#internship-text{
	font-size:25px;
	font-weight:bold;
	position:relative;
	left:20px;
	bottom:60px;
}
#internship-content{
	font-size:15px;
	color:#696969;
	position:relative;
	left:20px;
	bottom:60px;
}
/*app-development*/
#app-dev-box{
	height:250px;
	width:250px;
	border:1px solid #D3D3D3;
	border-radius:5px;
	position:relative;
	left:890px;
	bottom:651px;
}
#app-dev-box:hover{
	box-shadow:0 2px 8px 0 #D3D3D3;
}
#app-dev-circle{
	height:50px;
	width:50px;
	border-radius:50%;
	background-color:#FF46A2;
	position:relative;
	left:20px;
}
#app-dev-icon{
	height:40px;
	width:40px;
	border-radius:50%;
	background-image:url("../image_folder/browser.webp");
	background-size:cover;
	position:relative;
	left:25px;
	bottom:60px;
}
#app-dev-text{
	font-size:25px;
	font-weight:bold;
	position:relative;
	left:20px;
	bottom:60px;
}
#app-dev-content{
	font-size:15px;
	color:#696969;
	position:relative;
	left:20px;
	bottom:60px;
}
/*digital-marketing*/
#digital-box{
	height:250px;
	width:250px;
	border:1px solid #D3D3D3;
	border-radius:5px;
	position:relative;
	left:620px;
	bottom:630px;
}
#digital-box:hover{
	box-shadow:0 2px 8px 0 #D3D3D3;
}
#digital-circle{
	height:50px;
	width:50px;
	border-radius:50%;
	background-color:#FF46A2;
	position:relative;
	left:20px;
}
#digital-icon{
	height:40px;
	width:40px;
	border-radius:50%;
	background-image:url("../image_folder/quiz.webp");
	background-size:cover;
	position:relative;
	left:25px;
	bottom:60px;
}
#digital-text{
	font-size:25px;
	font-weight:bold;
	position:relative;
	left:20px;
	bottom:60px;
}
#digital-content{
	font-size:15px;
	color:#696969;
	position:relative;
	left:20px;
	bottom:60px;
}
/*web-development*/
#web-dev-box{
	height:250px;
	width:250px;
	border:1px solid #D3D3D3;
	border-radius:5px;
	position:relative;
	left:890px;
	bottom:881px;
}
#web-dev-box:hover{
	box-shadow:0 2px 8px 0 #D3D3D3;
}
#web-dev-circle{
	height:50px;
	width:50px;
	border-radius:50%;
	background-color:#00C0A3;
	position:relative;
	left:20px;
}
#web-dev-icon{
	height:40px;
	width:40px;
	border-radius:50%;
	background-image:url("../image_folder/instructor.webp");
	background-size:cover;
	position:relative;
	left:25px;
	bottom:60px;
}
#web-dev-text{
	font-size:25px;
	font-weight:bold;
	position:relative;
	left:20px;
	bottom:60px;
}
#web-dev-content{
	font-size:15px;
	color:#696969;
	position:relative;
	left:20px;
	bottom:60px;
}
/*newsfeed-section*/
.news-container{
	height:260px;
	width:1260px;
	background-color:#eeeeee;
	position:relative;
	bottom:660px;
}
#news-text{
	color:#820000;
	position:relative;
	left:580px;
	top:100px;
	font-family:arial;
}
#blog-text{
	position:relative;
	left:520px;
	top:80px;
	font-family:arial;
}
/*footer*/
/*footer-section*/
.footer-container{
	height:500px;
	width:1260px;
	background-color:#820000;
	position:relative;
	bottom:660px;
}
/*footer-about-section*/
#footer-about{
	font-size:30px;
	position:relative;
	left:60px;
	top:80px;
	color:#fff;
	font-family:arial;
	font-weight:bold;
}
#about-content{
	font-size:18px;
	color:#fff;
	font-weight:normal;
}
#footer-address-head{
	font-size:25px;
	position:relative;
	left:400px;
	bottom:80px;
	color:#fff;
	font-family:arial;
	font-weight:bold;
}
#social-media-box{
	height:100px;
	width:250px;
	background-color:#fff;
	position:relative;
	left:380px;
	bottom:80px;
}
#footer-logo{
	height:60px;
	width:60px;
	background-image:url("../image_folder/infonixlogo.png");
	background-size:cover;
	position:relative;
	right:20px;
}
#infonix-tag{
	color:#0076B6;
	font-size:18px;
	position:relative;
	left:45px;
	bottom:70px;
}
#followers{
	font-size:13px;
	color:#0076B6;
	position:relative;
	left:50px;
	bottom:90px;
}
#box{
	height:30px;
	width:250px;
	background-color:#eeeeee;
	position:relative;
	bottom:65px;
}
#follow-btn{
	height:20px;
	width:80px;
	background-color:#fff;
	text-align:center;
	line-height:20px;
	position:relative;
	bottom:105px;
	left:20px;
}
#follow-btn:hover{
	box-shadow:0 3px 8px 0 #696969;
}
#share-btn{
	height:20px;
	width:80px;
	background-color:#fff;
	text-align:center;
	line-height:20px;
	position:relative;
	bottom:175px;
	left:160px;
}
#share-btn:hover{
	box-shadow:0 3px 8px 0 #696969;
}
/*branch-section*/
.branch-office-section{
	position:relative;
	left:660px;
	bottom:200px;
	font-size:18px;
	color:#fff;
}
/*head-office-section*/
.head-office-section{
	position:relative;
	left:950px;
	bottom:405px;
	font-size:18px;
	color:#fff;
}
#fa-icons{
	position:relative;
	bottom:100px;
}
#privacy-line{
	width:1060px;
	border:1px solid #919297;
	position:relative;
	right:880px;
	bottom:100px;
}
#privacy-text{
	position:relative;
	right:600px;
	bottom:100px;
}
.footer-circle{
	display:flex;
	gap:10px;
	position:relative;
	bottom:165px;
	opacity:0.5;
}
#footer-circle-fb{
	height:40px;
	width:40px;
	border-radius:50%;
	background-color:#D3D3D3;
}
#footer-circle-in{
	height:40px;
	width:40px;
	border-radius:50%;
	background-color:#D3D3D3;
}
#footer-circle-insta{
	height:40px;
	width:40px;
	border-radius:50%;
	background-color:#D3D3D3;
}
#footer-fa-icon{
	position:relative;
	bottom:215px;
	left:10px;
}
#footer-line{
	width:1060px;
	border:1px solid #919297;
	position:relative;
	right:880px;
	bottom:200px;
}
#footer-text{
	position:relative;
	right:680px;
	bottom:200px;
}